In [ ]:
import numpy as np

In [ ]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
  return list

def sum_random (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [29]:
while True:
  n = int(input("Enter an integer between 5 and 15: "))
  try:
    n = int(n)
  except:
    print('Please enter an integer value')
    continue
  if n < 5 or n > 15:
    print('Please enter a value between 5 and 15')
    continue
  break

Enter an integer between 5 and 15: 4
Please enter a value between 5 and 15
Enter an integer between 5 and 15: 16
Please enter a value between 5 and 15
Enter an integer between 5 and 15: 10

In [32]:
MyList= random_list(n)
MyList

[24, 24, 29, 21, 25, 15, 37, 23, 12, 11]

In [33]:
MySum = sum_random(MyList)
MySum

221